
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Commissioner', sans-serif;
    color:#D8D8D8;
    font-size: 16px;
    letter-spacing: 0.5px;
    background-color: #091520;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav {
    margin: 45px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    border-radius: 2px;
    border: 1px solid #E32970;
    padding: 6px 22px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu__btn {
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    
}

.menu__btn span {
    width: 100%;
    height: 2px;
    background-color: #2EADD4;
}

.container__head {
    padding: 0 20px;
}

.hero__menu {
    display: flex;
    gap: 60px;
    position: relative;
}



.hero__aside {
    max-width: 190px;
}

.aside__item {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
    position: relative;
    padding-left: 45px;
}

.aside__item::before {
    content: url(img/aside/aside1.png);
    position: absolute;
    left: 0;
    bottom: -10px;
}
.aside__item-2::before {
    content: url(img/aside/aside2.png);
    position: absolute;
    left: 0;
}
.aside__item-3::before {
    content: url(img/aside/aside3.png);
    position: absolute;
    left: 0;
}
.aside__item-4::before {
    content: url(img/aside/aside4.png);
    position: absolute;
    left: 0;
}
.aside__item-5::before {
    content: url(img/aside/aside5.png);
    position: absolute;
    left: 0;
}

.aside__info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 2px;
    border: 1px solid #19506F;
    backdrop-filter: blur(2px);
    margin-top: 30px;
    margin-bottom: 20px;
}

.aside__social-links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.aside__price {
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 3px;
}

.aside__subtitle {
    font-size: 12px;
    font-family: Roboto;
    letter-spacing: 0.03px;
}

.hero__menu {
    position: relative;
}

.hero__block {
    display: flex;
    gap: 150px;
}

.hero__bg {
    width: 385px;
    height: 250px;
    transform: rotate(-9deg);
    border-radius: 385px;
    opacity: 0.2;
    background: #BF2A63;
    filter: blur(100px);
    position: absolute;
    left: 350px;
    z-index: -1;
}

.hero__left {
    max-width: 560px;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.18px;
    margin-bottom: 60px;
    line-height: 45px;
}

h1 span {
    font-family: roboto;
    color: transparent ;
    -webkit-text-stroke-color: #2EADD4;
    -webkit-text-stroke-width: 1px;
}

.hero__btn {
    color: #fff;
    padding: 18px;
    background-color: #E32970;
    border-radius: 2px;
}

.title {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.container {
    max-width: 1170px;
    margin: 0 20px 0 auto;
    padding-left: 20px;
}

.recomended {
    margin-top: 20px;
}

.recomended__list {
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.recomended__link {
    width: 375px;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 25px 30px 20px 15px;
    border-radius: 2px;
    border: 1px solid #19506F;
    backdrop-filter: blur(2px);
}

.recomended__info {
    display: flex;
    gap: 10px;
    align-items: center;
}
.recomended__info-text {
}
.recomended__name {

}
.recomended__subtitle {
    font-size: 14px;
    opacity: .5;
}
.recomended__right {
    font-size: 14px;
}

.token__list {
    margin-top: 80px;
    display: flex;
    gap: 80px;
}

.token__left {
    position: relative;
}

.token__bg {
    position: absolute;
    z-index: -1;
    width: 302px;
    height: 274px;
    border-radius: 300px;
    opacity: 0.54;
    background: var(--dark-blue, #19506F);
    filter: blur(62.5px);
}

.token__right {
    max-width: 630px;
}

.text {
    margin: 20px 0 35px;
}

.link {
    color: #2EADD4;;
}

.token__info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 150px;
    row-gap: 30px;
}

.token__subtitle {
    font-weight: 600;
    color: #2EADD4;
}

.token__number {
    font-weight: 600;
    color: #FEF6F9;
    font-size: 28px;
    margin-top: 5px;
}

.ann__menu {
    margin-top: 90px;
    display: flex;
    gap: 50px;
    position: relative;
}

.ann__left-item {
    margin-top: 20px;
    padding: 23px 30px 32px 20px;
    border-radius: 2px;
    border: 1px solid #19506F;
    max-width: 550px;
}

.ann__left-title {
}

.ann__left-title span {
    color: #1e74d8;
}

.tags {
    color: #1e74d8;
}
.ann__link {
    margin: 10px 0 0;
    display: flex;
    border: #19506F 1px solid;
    gap: 15px;
}

.ann__link-img {
    width: 114px;
    height: 110px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DA1A5F;
    font-weight: 700;
    font-size: 20px;
}

.ann__right-item {
    padding: 25px 20px 35px 15px;
    border-radius: 2px;
    border: 1px solid #19506F;
    margin-top: 20px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    margin-bottom: 80px;
}

.ann__right-item-last {
    justify-content: flex-start;
}

.ann__bg {
    width: 385px;
    height: 250px;
    transform: rotate(-9deg);
    border-radius: 385px;
    opacity: 0.2;
    background: #BF2A63;
    filter: blur(100px);
    position: absolute;
    left: 350px;
    bottom: 20px;
    z-index: -1;
}

.footer {
    padding: 25px 0 25px;
    border: 1px solid #19506F;
    text-align: center;
    color: #1e74d8;
}

a {
    transition: .5s;
}

a:hover {
    background-color: #19506F;
}

